<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <connectionStrings>
    <add name="cnn" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Nav[E]ventos.mdb;Persist Security Info=False;Jet OLEDB:Database Password=gr@w*16"
      providerName="System.Data.OleDb" />
    <add name="NavEventos.Properties.Settings.Nav_E_ventosConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Nav[E]ventos.mdb;Persist Security Info=False;Jet OLEDB:Database Password=gr@w*16"
      providerName="System.Data.OleDb" />
  </connectionStrings>
</configuration>